<% set_meta_tags title:'Mybookmark', description: 'Here is the posts you bookmarked.' %>

<div class='tweet_list' id="mybookmarks">
   <%= render partial: 'bookmark_list', locals: {posts: @posts}  %>
</div>



