<div class="col-12 form-group" style="background: #f0f8ff; padding: 10px">
  <%= form_with(url: tweets_timeline_path, method: :get, local: true) do |form| %>
    <%= form.text_field :search_username, id: "tweet_search_timeline", name: "search_username", placeholder: @username, class: "form-control text-center" %>
    <span>
      <!--<%= form.submit value:"Account Search", class:"btn btn-block search_button rounded-pill mt-3" %>-->
      <button title="Search" type="submit" class="btn btn-block search_button rounded-pill mt-3">Account Search</button>
    </span>
  <% end %>
</div>

<div class='tweet_list'>
   <%= render partial: 'tweet_list', locals: {tweets: @tws}  %>
</div>