<div class="search-box-search">
  <%= form_with(url: tweets_search_path, method: :get, local: true) do %>
    <%= text_field :keyword, nil,  id: "tweet_search", name: "keyword", placeholder: @word, style: "width: 200px;"%><button title="検索" type="submit">Search</button>
  <% end %>
</div>

<div class='tweet_list'>
   <%= render partial: 'tweet_list', locals: {tweets: @tweets}  %>
</div>