<% set_meta_tags title:'BEST', description: 'The best 100 tweets by net-thumbs-score' %>

<% content_for :title do %>
  BEST
<% end %>

<div class='tweet_list' id="timeline">
   <%= render partial: 'post_list', locals: {posts: @posts_best}  %>
</div>