<% provide :title, @post.id %>

<div id="tweet-container">
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <script>
    var container = document.getElementById( "tweet-container" ) ;
    
    twttr.widgets.createTweet (
    	"<%= @post.tweet_id %>",	
    	container,
    	{
    		cards: "hidden",
    		conversation: "none",
     		width: 500,
     		align: "center",
    		dnt: true,
    	}
    ) ;
    </script>
</div>

<div id="thumbs_ajax">
  <%= render partial: 'thumbs', locals: {post: @post}  %>
</div>

<hr>
<div class="col-12 p-3">
  <span id="share_btn" class="btn btn-block search_button rounded-pill mt-3" data-clipboard-text="How do you feel about this tweet? | @XXXXX | xxxxxxxxxxxxxxxxxxxx | <%= request.url %> | #MOOORE">Copy URL and Title</span>
</div>

<script type="text/javascript">
  var clipboard = new Clipboard('#share_btn');
      clipboard.on('success', function(e) {
      //コピー成功時
      $("#share_btn").addClass('is-copied').text('Copied');
  });
  clipboard.on('error', function(e) {
      //エラー時
      $("#share_btn").addClass('is-copied').text('Sorry, Your browser is not applicable for this');
  });
</script>