html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.header{
  border-bottom: 1px solid rgba(0,0,0,.30);
  background: #FFFFFF;
}

.header_container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}


.header>.header_container{
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #DDDDDD;
}

.footer{
  border-top: 1px solid rgba(0,0,0,.30);
  height: 50px;
  background: #FFFFFF;
}

.search-box-search{
  height: 5%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #EEEEEE;
}

.tweet_list{
  height: 95%;
  width: 100%;
  justify-content: center;
  align-items: center;  
  background-color: #EEEEEE;
}

.tweet{
  display: flex;
  justify-content: flex-start;
}

.tweet_text{
  flex-grow: 1;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.tweet_icon{
  background-color: #1111FF;
}

.tweet_button{
  vertical-align: middle;
  background-color: #FFFF11;
}

.thumbs_down_button{
  display: inline-block;
  width: 450px; 
  background-color: #FFFFFF;
}

#index_container{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCCC;
}


#keyword-at-search{
  height: 3%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

#tweet-container{
  display: flex;
}

