html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    background-color: #DDDDDD;
}

#index_container{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCCC;
}

#search-box-search{
  height: 5%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #EEEEEE;
}

#keyword-at-search{
  height: 3%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

#tweet-container{
  display: flex;
}

.icon{
  display: inline-block;
  width: 150px;
	flex-wrap:nowrap;
  background-color: #FFFFFF;
}

.tweet_text{
  display: inline-block;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.tweet_icon{
  display: inline-block;
  width: 50px;
  vertical-align: middle;
  background-color: #1111FF;
}

.tweet_button{
  display: inline-block;
  width: 550px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.thumbs_down_button{
  display: inline-block;
  width: 550px; 
  margin-right: 10px;
  background-color: #FFFFFF;
}