html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50px;  
  background: #FFFFFF;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
}

.header{
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*z-index: 2;*/
  /*width: 100%;*/
  background: #FFFFFF;
}

.header_container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}


.header>.header_container{
  display: flex;
  justify-content: space-between;
  /*height: 50px;*/
}

.container {
  /*width: 100%;*/
  /*height: 100%;*/
  max-width: 800px;
  margin: 0 auto;
  background-color: #DDDDDD;
}

.footer{
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*z-index: 2;*/
  /*width: 100%;*/
}

.footer_container{
  /*width: 100%;*/
  max-width: 800px;
  margin: 0 auto;
  background-color: #6699cc;
}

.footer>.footer_container{
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.search-box-search{
  margin-top: 70px;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #EEEEEE;
}

.tweet_list{
  /*width: 100%;*/
  background-color: #EEEEEE;
}

.tweet{
  display: flex;
  justify-content: flex-start;
}

.tweet_text{
  flex-grow: 1;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.tweet_icon{
  margin: 10px;
  background-color: #1111FF;
}  

.tweet_button{
  margin-left: 10px;
  vertical-align: middle;
  background-color: #FFFF11;
}

.thumbs_down_button{
  width: 450px; 
  background-color: #FFFFFF;
}

#index_container{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCCC;
}


#keyword-at-search{
  height: 3%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

#tweet-container{
  display: flex;
}

