<div class="d-flex align-items-center justify-content-center" style="background-color: #b0c4de; height: 50px" >
    © 2020 Thumbsmore
    <span class="social m-2">
        <a href="http://www.twitter.com/thumbsmore"><%= image_tag 'twitter.png', class: 'social_icon' %></a>
    </span>
</div>
