<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b0c4de;">
  <a href="/" class="navbar-brand"><%= image_tag 'Thumbsmore_logo_icon.png', class: 'navbar-icon' %></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- メニュー項目 -->
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'BEST', best_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'WORST', worst_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'ABOUT', static_pages_about_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>

<script>
  document.addEventListener('turbolinks:before-visit', function() {
    var $navbar = $('.navbar-collapse');
    
    if ( $navbar.hasClass('in') ) {
      $navbar.collapse('hide');
    }
  });
</script>
